{% extends "store/base.html" %}

{% block title %}
Shop — AURA Perfumes
{% endblock %}

{% block content %}

<section class="products-section">

    <div class="container">

        <div class="section-title">
            <p>OUR COLLECTION</p>
            <h2>Shop All Perfumes</h2>
            <span>Discover your perfect fragrance</span>
        </div>

        <div class="product-grid">

            {% for product in products %}

            <div class="product-card">

                <div class="product-image">

                    {% if product.image %}
                        <img
                            src="{{ product.image.url }}"
                            alt="{{ product.name }}"
                        >
                    {% else %}
                        <div class="perfume-bottle">
                            AURA
                        </div>
                    {% endif %}

                </div>

                <div class="product-info">

                    <p>{{ product.get_category_display }}</p>

                    <h3>{{ product.name }}</h3>

                    <span>
                        {{ product.fragrance_notes }}
                    </span>

                    <div class="product-bottom">

                        <strong>
                            {% if product.discount_price %}
                                ₹{{ product.discount_price }}
                            {% else %}
                                ₹{{ product.price }}
                            {% endif %}
                        </strong>

                        <button>+</button>

                    </div>

                </div>

            </div>

            {% empty %}

                <p>No products available.</p>

            {% endfor %}

        </div>

    </div>

</section>

{% endblock %}